body {
	background-color: white;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 150px;
}

#googleImg {
	width: 500px;
}

#textbox {
	display: flex;
	height: 40px;
	width: 500px;
	border: 1px solid gainsboro;
	position: relative;
}

#textbox input {
	width: 100%;
	border: 1px gainsboro;
	font-size: 15px;
	padding-left: 3%;
}

#textbox img {
	height: 20px;
	width: 15px;
	position: absolute;
	right: 10px;
	top: 8px;
}

#buttons {
	margin-top: 30px;
}

button {
	padding: 10px;
	color: grey;
	font-size: 12px;
	font-weight: bold;
	border: none;
	background-color: gainsboro;
}